@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --header-padding-top: 2.8125rem;
}
@media screen and (max-width: 768px) {
  :root {
    --header-padding-top: 1.8125rem;
  }
}

nav {
  width: 100%;
  padding: 0 var(--base-padding);
  padding-top: var(--header-padding-top);
  z-index: 100;
}

nav > p {
  font-size: var(--font-size-large);
}
