@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --padding-container: 2rem;
}
@media screen and (min-width: 768px) {
  :root {
    --padding-container: 4rem;
  }
}

.products {
  padding: var(--padding-container) var(--base-padding);
  padding-bottom: 0;
  text-align: center;
}

.products > h1 {
  margin-top: calc(var(--padding-container) * 0.2);
  font-size: var(--font-size-heading);
}
.products > p,
.products > h1 {
  padding: 0 calc(var(--padding-container) * 1.5);
}

@media screen and (max-width: 768px) {
  .products {
    padding: var(--padding-container) var(--base-padding);
  }
  .products > h1 {
    margin-top: var(--padding-container);
  }
  .products > p,
  .products > h1 {
    padding: 0;
  }
}
