@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --card_width: 95%;
  --min_width: 325px;
  --max_width: 460px;
}
.product-card {
  width: var(--card_width);
  min-width: var(--min_width);
  max-width: var(--max_width);
  background-color: var(--background-color);
  border-radius: 30px;
  height: auto;
  transition: all 0.5s ease-in-out;

  max-height: 450px;
}

.img-container {
  width: 100%;
  min-height: 373px;
  height: 373px;
  border-radius: inherit;
  position: relative;
}

.img-container > img {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  object-fit: cover;
}
.buy-container {
  position: absolute;
  bottom: 10px;
  display: flex;
  padding: 5px 10px;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  border-radius: inherit;
  color: var(--text-color-light);
}
.buy-button {
  background-color: rgba(80, 81, 81, 0.2);
  height: 100%;
  border-radius: inherit;
  padding: 0 5px;
  padding-left: 20px;
  min-width: 70%;
  max-width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icon-custom-buy {
  padding: 9px;
}
.price {
  height: 100%;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
  border-radius: 40px;
}
.cart-button {
  position: absolute;
  top: 15px;
  right: 15px;
}
.product-card-description {
  margin-top: 10px;
  height: 74px;
  background-color: var(--secondary-light-gray);
  width: 100%;
  padding: 15px;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-card-description > div > p:nth-child(2) {
  font-size: 12px;
  color: var(--text-color-gray);
}
.product-card-description > div > p:first-child {
  font-size: 18px;
}
.product-card-description > p {
  font-size: 12px;
  text-decoration: underline;
  text-transform: uppercase;
}

.slide-root {
  width: 100%;
}
.slider {
  margin-top: 2%;
}
.button-container {
  width: 100%;
  display: flex;
  justify-content: end;
  gap: 15px;
  padding-right: 10px;
}

.carousel__slide {
  height: 460px;
  max-height: 460px;
}
.slideInner___2mfX9 {
  display: flex;
  justify-content: center;
  max-height: 460px;
}

@media screen and (max-width: 700px) {
  .slider {
    margin-top: 5%;
  }
}
